<mat-toolbar>
    <button mat-icon-button class="logo"
        aria-label="Example icon-button with menu icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <span>GoLook</span>
    <span class="spacer"></span>
    <button mat-button class="icon favorite-icon">
        Job Tracker
    </button>
    <span class="spacer"></span>
    <button mat-button class="icon favorite-icon">
        Community
    </button>
    <span class="spacer"></span>
    <button mat-icon-button class="icon">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>