<div class="cdk-virtual-scroll-data-source-example">
    <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="50"
        class="example-viewport">
        <div cdkDropListGroup class="droplist-group">
            <div *cdkVirtualFor="let l of lists" class="example-item">
                <div class="item-header">
                    <h2>{{ l.listName }}</h2>
                </div>
                <div class="item-content">
                    <app-list [list]="l.list"></app-list>
                </div>
            </div>
        </div>
    </cdk-virtual-scroll-viewport>
</div>
